<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>聊天窗口</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../../css/common/g_common.css" />
		<link rel="stylesheet" type="text/css" href="../../../../css/loading.css"/>
		<link rel="stylesheet" type="text/css" href="../../../../css/image.css"/>
		<link rel="stylesheet" type="text/css" href="css/im.css" />
	</head>

	<body>
		<div id="im-page">
			<!-- <header class="mui-bar mui-bar-nav">
			    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			    <h1 class="mui-title">{{getQueryString('userName')}}</h1>
			</header> -->
			<!-- <div class="qcxj_head">
				<div class="qcxj_headBox">
					<div class="qcxj_headBoxView">
						<img class="qcxj_headBoxViewImg" src="../../../../img/quxiao.png" onclick="goback()">
						<span class="qcxj_headBoxViewText">{{getQueryString('userName')}}</span>
					</div>
				</div>
			</div>
			<div class="qcxj_headSwitch"></div> -->
			<div class="goBack" onclick="goback()">
	<!--			<span class="iconfont icon-fanhui1"></span>-->
				<div class="backImgClass">
					<img  src="../../../../img/back.png" alt="">
				</div>
			</div>
			<img id="bg" src="../../../../game/kh/img/564baf8f8642183227de9c6910fccd6.jpg" style="position: absolute;left: 0;width: 100%;">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="msg-list">
						<div class="msg-item" v-if="msglist.length>0" v-for="(msg, m) in msglist" :class="{'text-right': msg.userId == curUserId || msg.isSelf}" key="m">
							<div class="color-000 font-b font-30" v-if="msg.userId == curUserId || msg.isSelf"><span class="color-999 font-22">{{msg.createDate ? msg.createDate : msg.date}}</span> {{msg.user ? msg.user.userName : msg.userName}}</div>
							<div class="color-000 font-b font-30" v-else>{{msg.user ? msg.user.userName : msg.userName}} <span class="color-999 font-22">{{msg.createDate ? msg.createDate : msg.date}}</span></div>
							<div class="color-333 msg-content" v-html="msg.content"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-textarea">
				<textarea v-model="content" rows="1" cols="" placeholder="" id="text-area"></textarea>
				<div id="send-pic" style="width: .6rem;height: .6rem;"><img src="../../../../img/addPicture.png" alt="" style="display: block;width: 100%;height: 100%;"/></div>
				<div class="commont-btn" onclick="sendFn()">发送</div>
			</div>
		</div>
		<script src="../../../../js/mui.min.js"></script>
		<script src="../../../../js/plugin/jquery2.1.min.js"></script>
		<script src="../../../../js/plugin/vue.min.js"></script>
		<script src="../../../../js/plugin/webUploader/webuploader.nolog.min.js"></script>
		<script src=" ../../../../js/common/commonFn.js"></script>
		<script src="../../../../js/zoom.js"></script>
		<script src="../../../../js/previewimage.js"></script>
		<script src="../../../../js/plugin/loading.js"></script>
		<script src="js/im.js"></script>
	</body>

</html>