body {
  background: white;
}
.mui-switch.mui-active:before {
  content: '是';
}
.mui-switch:before {
  content: '否';
}
p {
  margin: 0;
}
body {
  background-color: #efeff4;
}
.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.15rem 0.25rem 0.15rem;
  background: #fff;
  border-bottom: 1px solid #aaa9a9;
}
.address > div {
  width: 100%;
  padding: 0 0.1rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}
.address > div .addressName {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.05rem;
}
.address > div .addressName span {
  margin-right: 0.625rem;
}
.address > div p {
  font-size: 15px;
  color: #72706f;
}
.address > span {
  padding: 0.1rem;
  font-size: 0.5rem;
}
.address .iconfont {
  color: #333;
}
.product {
  padding: 0.25rem 0.15rem;
  display: flex;
  justify-content: flex-start;
  background: #fff;
  border-bottom: 1px solid #E3E3E3;
}
.product > img {
  width: 2.1rem;
  height: 2.1rem;
  flex-shrink: 0;
}
.product > .productData {
  padding-left: 0.2rem;
  width: 100%;
}
.product > .productData > .title {
  font-size: 16px;
  line-height: 0.6rem;
  color: #72706f;
}
.product > .productData p {
  font-size: 12px;
}
.price,
.integral,
.conversion,
.welfare {
  color: #da251d;
  font-size: 0.28rem;
  margin: 0 auto 0 0;
}
.product > .productData > div {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.product > .productData > div input,
.product > .productData > div div {
  border: 0!important;
  background: -webkit-linear-gradient(to right, #FFFBF8, #FEEFD6);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(to right, #FFFBF8, #FEEFD6);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(to right, #FFFBF8, #FEEFD6);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #FFFBF8, #FEEFD6);
  height: 28px;
  color: #72706f;
}
.product > .productData > div input button,
.product > .productData > div div button {
  background: rgba(0, 0, 0, 0);
  color: #72706f;
}
.elseDate > .serviceBranch > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.elseDate .changeServiceBranch {
  display: inline-block;
  margin-left: 10px;
}
.elseDate #selectServiceBranch {
  background: #da251d;
  color: white;
}
.mui-switch {
  background: -webkit-linear-gradient(to right, #FFFBF8, #FEEFD6);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(to right, #FFFBF8, #FEEFD6);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(to right, #FFFBF8, #FEEFD6);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #FFFBF8, #FEEFD6);
  border: none;
}
.mui-ios .mui-table-view-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 999;
}
.foot > div > span {
  display: block;
}
.mui-table-view:before,
.mui-table-view:after {
  display: none;
}
.mui-scroll-wrapper {
  top: 34px;
}
.serviceBranchModel > .title {
  background: #EFEFF4;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.serviceBranchModel > .content {
  height: 10rem;
  background: #FFFFFF;
}
.serviceBranchModel > .content .serviceBranceMsg {
  padding: 10px;
  border-bottom: 1px solid #E3E3E3;
}
.serviceBranchModel > .content .serviceBranceMsg > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serviceBranchModel > .content .serviceBranceMsg > p:nth-child(1),
.serviceBranchModel > .content .serviceBranceMsg > p:nth-child(2) {
  color: #000000;
}
.channels {
  width: 100%;
}
.channels > p {
  font-size: 12px;
}
.channels > div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mui-switch-handle {
  background-color: #da251d !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
