body {
	padding-bottom: 50.4px;
	background: #efeff4;
}

.mui-content {
	/* 	background: url('../images/headBack.jpg');
	background-size: 100%;
	background-repeat: repeat-x; */
	padding-bottom: 10px;
}

.search-bar {
	font-size: 13px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	height: 0.7rem;
	margin: 0 10px;
}

.advert {
	position: relative;
	background: background: rgba(0, 0, 0, 0);
	height: 30px;
	line-height: 30px;
	border: none;
	border-radius: 5px;
	width: 58%;
}

.advert .iconfont {
	margin-right: 0.16rem;
}

.advert .adv-text {
	overflow: hidden;
}

.advert .adv-text .text {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	animation: advmove 20s linear infinite;
}

.advert .adv-text .text a {
	padding: 0 0.1rem;
	white-space: nowrap;
	color: black;
	font-size: .28rem;
}

@keyframes advmove {
	from {
		left: 0;
	}

	to {
		left: -100%;
	}
}

.app-grid {
	padding: 0;
}

.app-grid .item {
	text-align: center;
	padding: 0.2rem 0;
}

.app-grid .mall {
	background: url(../images/shangcheng.png) center center no-repeat;
	background-size: cover;
	color: #fff;
}

.app-grid .mall .go {
	background: #FF9900;
	border-radius: 10px;
	padding: 0.04rem 0.1rem;
	font-size: 0.24rem;
	margin: 0 0.08rem;
}

.app-grid .flex-box {
	display: flex;
	align-content: center;
	justify-content: center;
	border-right: 1px solid #f2f2f2;
	flex-wrap: wrap;
	padding: 0.2rem 0;
}

.app-grid .flex-box .text {
	margin-top: 0.3rem;
	width: 100%;
}

.app-grid .flex-box .iconfont {
	font-size: 0.6rem;
}

.app-grid .pro-item {
	padding: 0.2rem 0;
	text-align: center;
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #f2f2f2;
}

.app-grid .pro-item .img {
	text-align: center;
	height: 0.8rem;
	margin-bottom: 0.2rem;
}

.app-grid .pro-item .img img {
	max-height: 100%;
}

.app-grid .img-item {
	text-align: center;
}

.app-grid .img-item img {
	width: 2.2rem;
	height: 2.8rem;
}

.flex-around {
	justify-content: space-between;
	padding: 0.2rem;
}

.secKill .title {
	color: #222;
}

.secKill .title .iconfont {
	color: #FF6600;
}

.img-adv {
	padding: 0.2rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.img-adv a {
	margin-bottom: 0.16rem;
}

.img-adv a img {
	display: block;
	width: 3.47rem;
	height: 2.27rem;
}

.index-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head-text {
	font-size: 0.4rem;
}

.head-text img {
	width: 29px;
	height: 25px;
}

.right-head {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.search {
	margin-left: 0.2rem;
	width: 3.8rem;
	background: #e8e8e8;
	height: 0.5rem;
	overflow: hidden;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	padding: 0.25rem;
	flex-grow: 1;
}

.search input[type=text] {
	margin-bottom: 0;
	height: 0.5rem;
	background: #e8e8e8;
	border: none;
	outline: none;
	font-size: 0.2rem;
	padding: 0 0 0 0.1rem;
	line-height: 0.5rem;
}

.search .mui-icon {
	padding: 0;
	font-size: 0.3rem !important;
}

.message {
	position: relative;
	margin-left: 0.24rem;
}

.message .dot {
	height: 0.16rem;
	width: 0.16rem;
	position: absolute;
	right: 0;
	top: 0.14rem;
	display: block;
	background: #ee1653;
	border-radius: 50%;
	z-index: 999999;
}

#slider {
	/* border: 20px solid rgba(0, 0, 0, 0); */
	overflow: hidden;
}

#slider img {
	border-radius: 10px;
	margin: 15px;
	padding: 2px;
}

.mui-slider .mui-slider-group .mui-slider-item {
	width: 90%;
}

.grid-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 10px 0 10px;
	border-radius: 5px;
	/* border-bottom: 1px solid #E1E1E1; */
}

.grid-flex .platform-item {
	width: 100%;
}

.grid-flex .platform-item img {
	width: 100%;
	border-radius: 0.1rem;
}

.grid-flex .platform-item .text {
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
}

.grid-flex .mall-item {
	width: 2.23rem;
	height: 2rem;
}

.grid-flex .mall-item img {
	width: 2.23rem;
	height: 2rem;
	border-radius: 0.1rem;
}

.grid-flex .sec-item {
	width: 2.27rem;
	height: 2.7rem;
	color: #fff;
	position: relative;
}

.grid-flex .sec-item img {
	width: 2.27rem;
	height: 2.7rem;
	border-radius: 0.1rem;
}

.grid-flex .sec-item .sec-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0.2rem 0.2rem 0.1rem 0.2rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
}

.grid-flex .good-2 {
	width: 3.46rem;
	height: 2.7rem;
	position: relative;
}

.grid-flex .good-2 img {
	width: 3.46rem;
	height: 2.7rem;
	border-radius: 0.1rem;
}

.grid-flex .good-2 .sec-title {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0.2rem 0.2rem 0.1rem 0.2rem;
}

.grid-flex .good-4 {
	width: 1.68rem;
	height: 1.8rem;
	position: relative;
}

.grid-flex .good-4 img {
	width: 1.68rem;
	height: 1.8rem;
	border-radius: 0.1rem;
}

.grid-flex .good-4 .sec-title {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	padding: 0.2rem 0.2rem 0.1rem 0.2rem;
}

.grid-flex .img-item-1 img {
	width: 100%;
	height: 1.8rem;
}

.grid-flex .img-item-2 img {
	width: 3.46rem;
	height: 1.8rem;
	display: block;
	margin-bottom: 0.2rem;
}

.item-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 10px 3px 10px;
}

.item-title img {
	width: 20px;
}

.item-title div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-title div span {
	font-size: 14px;
	margin-left: 7px;
}

.item-title span {
	font-size: 19px;
	line-height: 20px;
	color: rgb(206,172,120);
}

.color-money {
	color: #ee1653;
}

.pd-b0 {
	padding-bottom: 0;
}

.title-red {
	background: #ee1653;
}

.title-blue {
	background: #2078ee;
}

.pd-t0 {
	padding-top: 0;
}

.sec-money {
	border: 40px;
	color: #fff;
	padding: 0;
	position: absolute;
	border-radius: 50px;
	bottom: 0.05rem;
	left: 0.2rem;
	right: 0.2rem;
	text-align: center;
}

.shadow {
	box-shadow: 0 0 5px #d8d4d4;
}

.sec-tip {
	margin-right: -0.2rem;
	color: #fff;
	font-size: 0.2rem;
	padding: 0 0.08rem;
	border-radius: 0.06rem 0 0 0.06rem;
}

.type-list {
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 5px;
	border-radius: 5px;
	border-bottom: 1px solid #E1E1E1;
}

.type-list .type-item {
	width: 25%;
	font-size: 0.1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.type-list .type-item img {
	width: 100%;
	display: block;
}
.type-list .type-item p{
	margin: 0;
	font-size: 12px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0.1rem 0;
	color: #666;
}

.product-list .product-item {
	width: 48%;
	margin: 0 1% 2%;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
}

.product-list .product-item img {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto 0.2rem;
}

.product-list .product-item div {
	padding: 0 0.2rem;
}

.product-list .product-item .name {
	font-weight: bold;
	font-size: 0.32rem;
	color: rgb(114,112,111);
}

.product-list .product-item .price {
	font-weight: bold;
	padding-bottom: 0.15rem;
}

.notice {
	border: 1px solid #E1E1E1;
	margin: 0 10px;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.notice-icon {
	width: 25%;
	height: 30px;
	background: rgba(225, 225, 225, 0.1);
	text-align: center;
	color: orangered;
	border-radius: 10px 0 0 10px;
}

.notice-icon img {
	width: 80px;
	display: block;
	border-radius: 10px 0 0 10px;
	/* margin: auto; */
}

.notice-more {
	width: 17%;
	height: 30px;
	background-color: rgba(225, 225, 225, 0.1);
	color: gray;
	font-size: 14px;
	text-align: center;
	border-radius: 0 10px 10px 0;

}

.notice-more span {
	color: #d9261e;
	margin-left: 5px;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

.mui-slider #picSlider .mui-slider-group .mui-slider-item img {
	/*height: 2rem;*/
}
#picSlider img{
	border-radius: 10px;
	    margin:0 15px 15px;
	    padding: 2px;
}

.mui-slider-indicator .mui-indicator {
	width: 6px;
	height: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: rgba(0, 0, 0, .7);
}

.mui-slider-indicator .mui-active.mui-indicator {
	width: 6px;
	height: 6px;
	background: orangered;
}

.sliderRelative {
	position: relative;
}

.game {
	position: absolute;
	right: 0px;
	bottom: -14px;
	z-index: 10;
}

.game img {
	width: 55px;
}

.mui-slider-indicator {
	bottom: 0;
}

.moreProduct {
	text-align: center;
	font-size: 14px;
	color: #363636;
	padding-bottom: 10px;
	border-bottom: 1px solid #E1E1E1;
}

.moreProduct p {
	margin: 0 20px;
	padding: 5px 10px;
	background: white;
	border-radius: 10px;
}
.product_content{
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: rgb(170,169,169);
}