<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>酒友注册</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common/g_common.css" />
		<link rel="stylesheet" type="text/css" href="css/memberList.css" />
	</head>
	<body>
		<div id="memberList">
<!--			头部-->
			<div class="topHead s-t">
				<div class="left s-t">
					<img  src="../../img/quxiao.png" onclick="goback()">
					<span>酒友注册</span>
				</div>
				<div class="right">
					<span>...</span>
				</div>
			</div>
<!--			主体-->
			<div class="box">
				<div class="lunBo">
					<img src="img/memberList.jpg">
				</div>
				<div class="bListBox">
					<div class="list" v-for="(item,index) in 10" :key="index" :style="index%2!=0?'':'margin-right: 4%'" @click="goDetails(index)">
						<div class="topImg">
							<img src="img/memberList.jpg">
							<div class="gy" v-if="0==0">
								购买
							</div>
						</div>
						<div class="cTitle">阿斯顿发顺丰</div>
						<div class="bTitle">
							阿斯蒂芬撒的撒发射点发撒法沙发沙发发生
						</div>
						<div class="bBox s-t">
							<div class="leftMoney s-t">
								<div class="yMoney">
									￥1000
								</div>
								<div class="nMoney">
									<span>￥</span><span class="bSpan">1000</span>
								</div>
							</div>
							<div class="rightBY">
								<span>包邮</span>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--			底部-->
			<div class="thb">
				<img src="img/memberList.jpg">
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/plugin/jquery2.1.min.js"></script>
		<script src="../../js/plugin/vue.min.js"></script>
		<script src="../../js/common/commonFn.js"></script>
		<script src="js/memberList.js"></script>
	</body>

</html>