<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>通知</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/pull.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/g_common.css" />
		<link rel="stylesheet" type="text/css" href="css/noticeList.css" />
	</head>

	<body>
		<div id="notice-list">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">通知</h1>
			</header>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="notice-list">
						<div class="notice-item flex ai jsb" v-if="notices.length>0" v-for="(item, i) in notices" key="i" :noticeId="item.id">
							<div style="flex: 9;">
								<p class="title mui-ellipsis-2">{{item.title}}</p>
								<div style="text-align: end;">{{item.createDate}}</div>
							</div>
							<div class="mui-icon mui-icon-arrowright" style="flex: 1;text-align: right;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/plugin/vue.min.js"></script>
		<script src="../../js/plugin/jquery2.1.min.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/common/commonFn.js"></script>
		<script src="js/noticeList.js"></script>
	</body>

</html>