<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/pull.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/g_common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/loading.css" />
		<link rel="stylesheet" type="text/css" href="css/search.css" />
	</head>

	<body>
		<div id="search-page">
			<header class="mui-bar mui-bar-nav">
				<a class=" pa mui-action-back mui-icon mui-icon-left-nav fanhui mui-pull-left ma_l_05 ma_t_05"></a>
				<h1 class="mui-title">搜索</h1>
			</header>
			<div class="search-bar flex" id="search-bar">
				<i class="iconfont icon-search search-btn"></i>
				<input type="text" v-model="search" class="mui-input-clear" placeholder="请输入搜索关键字">
			</div>

			<div id="picSlider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop" v-if="adFilePath.length>0">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a :href="adUrl[adUrl.length-1]">
							<img :src="fileUrl + adFilePath[adFilePath.length-1]">
						</a>
					</div>
					<div class="mui-slider-item" v-for="(pic, i) in adFilePath" :key="i">
						<a :href="adUrl[i]">
							<img :src="fileUrl + pic">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a :href="adUrl[0]">
							<img :src="fileUrl + adFilePath[0]">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator" v-if="adFilePath.length>0">
					<div class="mui-indicator" :class="{'mui-active': i==0}" v-for="(pic, i) in adFilePath" :key="i"></div>
				</div>
			</div>

			<div class="product-list">
				<div class="product-item" v-for="(product, p) in productList" v-if="productList.length>0" :productId="product.id">
					<img :src="fileUrl + product.homeFilePath" alt="" />
					<div class="name mui-ellipsis" v-text="product.title"></div>
					<div class="font-26" style="display: flex;justify-content: space-between;align-items: center;">
						<span v-text="product.type"></span>
						<span v-if="product.isDelivery=='false'" class="color-red" style="padding:0 5px;border:1.5px solid orangered; border-radius: 10px;">{{product.isDelivery=='false'? '包邮' : ''}}</span>
					</div>
					<div><span class="color-red price">￥{{product.listMoney}}</span> <del style="font-size: 13px;" v-if="product.falseMoney!=null&&product.falseMoney>0">￥{{product.falseMoney}}</del></div>
					<div class="font-26" style="color: #4169E1;font-weight: 700;" v-if="product.isAstrict!=null&&product.isAstrict=='true'&&product.astrictCount!=null&&product.astrictCount>0">每人限购 {{product.astrictCount}} 份</div>
				</div>
			</div>
			<!--</div>
					</div>
				</div>
			</div>-->
			<div class="empty-tips" v-if="productList.length==0">抱歉, 没有您想要的相关产品!</div>
			<!--<div class="empty-tips" v-else-if="showBanner&&productList.length==0">抱歉, 没有您想要的相关产品!</div>-->
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/plugin/vue.min.js" type="text/javascript"></script>
		<script src="../../js/plugin/jquery2.1.min.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/plugin/loading.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/commonFn.js"></script>
		<script src="search.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				mui("#picSlider").slider({
					interval: 1500
				});
			}
		</script>
	</body>

</html>