body {
  background: #efeff4;
}
#search-page .search-bar {
  align-items: center;
  padding: 0.2rem;
  background-color: #fff;
}
#search-page .search-bar i {
  flex: 1;
  font-size: 0.4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background: #efeff4;
  border-radius: 0.2rem 0 0 0.2rem;
}
#search-page .search-bar input {
  flex: 9;
  margin: 0;
  padding: 0;
  border: none;
  background: #efeff4;
  height: 0.8rem;
  border-radius: 0;
  font-size: 0.3rem;
  border-radius: 0 0.2rem 0.2rem 0;
}
#search-page .pic {
  display: block;
  width: 100%;
}
#search-page .tips-text {
  font-size: 0.33rem;
  text-align: center;
  padding: 0.2rem;
}
