<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>圈内人</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/g_common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/loading.css">
		<link rel="stylesheet" type="text/css" href="coterie.css" />
	</head>

	<body style="background: white;">
		<div id="coterie">
			<!-- 	<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">圈内人</h1>
			</header> -->
			<div class="goBack" onclick="goback()">
				<span class="iconfont icon-fanhui1"></span>
			</div>
			<div style="height:15px;"></div>
			<div class="userList">
				<div v-for="(value,i) in userList" class="user">
					<img :src="value.imgPath!=null?fileUrl+value.imgPath:'../../main/association/imgs/logo.png'" alt="">
					<div>
						<p class="mui-ellipsis-2 color-golden" style="font-size: 17px;">{{value.userName}}</p>
						<p class="mui-ellipsis-2">级别：{{value.memberName}}</p>
						<p class="mui-ellipsis-2">联系电话：{{value.phone}}</p>
						<p>距离我：{{distances[i]}}</p>
					</div>
				</div>
			</div>
			<nav class="mui-bar mui-bar-tab" style="background: #efeff4;">
				<a class="mui-tab-item" onclick="openWindow('../../main/index/index.html')">
					<span class="mui-icon iconfont icon-huodong"></span>
					<span class="mui-tab-label">活动</span>
				</a>
				<a class="mui-tab-item agent-enter" onclick="openWindow('../../main/data/data.html')" style="display: none;">
					<span class="mui-icon iconfont icon-tuandui1"></span>
					<span class="mui-tab-label">团队</span>
				</a>
				<a class="mui-tab-item" onclick="openWindow('../../main/association/association.html')">
					<span class="mui-icon iconfont icon-tiyanfenxiang"></span>
					<span class="mui-tab-label">体验与分享</span>
				</a>
				<a class="mui-tab-item" onclick="openWindow('../../main/medicine/medicine.html')">
					<span class="mui-icon iconfont icon-kefu1"></span>
					<span class="mui-tab-label">客服</span>
				</a>
				<a class="mui-tab-item mui-active" onclick="openWindow('../../main/my/my.html')">
					<span class="mui-icon iconfont icon-wode"></span>
					<span class="mui-tab-label">我的</span>
				</a>
			</nav>
		</div>
		<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/plugin/jquery2.1.min.js"></script>
		<script src="../../js/plugin/vue.min.js"></script>
		<script src="../../js/plugin/webUploader/webuploader.nolog.min.js"></script>
		<script src="../../js/common/commonFn.js"></script>
		<script src="../../js/plugin/loading.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5QEcaoZOqMSYxyjGTWch3z9T68EFVAyV"></script>
		<script src="coterie.js"></script>
	</body>

</html>
