<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont/iconFont.css" />
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/common/ui-box.css" />
		<link rel="stylesheet" type="text/css" href="agreement.css" />
		<title>用户协议</title>
		<style type="text/css">
			.fanhui {
				font-size: 1.25em !important;
				color: white;
				left: 0;
				top: 0;
			}
			
			textarea {
				font-weight: 300;
				height: 4756px;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div class="pf w100 z999 bg_333">
			<div class="ub ub-pc pa_a_05 color_white ">
				<a class=" pa mui-action-back mui-icon mui-icon-left-nav fanhui mui-pull-left ma_l_05 ma_t_05"></a>
				<div class="">用户协议</div>
			</div>
		</div>
		<div class="pa_t_23">
			<textarea class="db">
    “芭缇菲”是由医美（广州）健康产业有限公司拥有和运营的。在使用“芭缇菲”提供的服务前，请您（以下称“您”或“用户”）仔细阅读并遵守《用户注册服务协议》（以下称“本协议”），尤其是可能涉及您的核心利益、免除或限制责任的条款。您一旦通过注册成为“芭缇菲”的会员或开始使用“芭缇菲”提供的各项服务时，即视为您已经完全了解和同意本协议的全部条款，本协议及对本协议进行修订后形成的后续协议即构成在您和“芭缇菲”之间具有约束力的法律文件。
一、接受条款

1、本协议内容包括协议正文及“芭缇菲”已经发布或在将来可能发布的交易规则、用户规范等。所有规则均为本协议不可分割的一部分，与本协议正文具有同等法律效力。
 2、您同意并接受，“芭缇菲”有权根据需要对本协议条款进行修订，并以网站公告的形式告知您，除此之外不再对您单独通知。经修订的协议条款一经公布即产生效力。如您不同意相关修订，建议立即停止使用我们所提供的各项服务。若您继续使用服务，则将视为已接受修订后的条款。
二、用户注册

1、申请注册成为“芭缇菲”的注册用户应为具有完全民事行为能力的自然人、法人或其他组织，能够独立承担法律责任。在您完成注册程序或以其它“芭缇菲”许可的方式使用平台服务时，即视为您已具备上述主体资格。若由于您不具备主体资格使用服务，从而导致的一切法律后果，应由您的监护人代为承担。
2、在按照注册页面的提示填写基本信息、阅读并同意本协议且完成全部注册程序后，您即开始受本协议条款的约束。您可以通过电脑、移动终端或其它能连接到互联网的硬件进行登录和使用我们所提供的各项服务。
3、成为“芭缇菲”的注册用户，即可以享受我们为您提供的各项服务，如：在“芭缇菲”上进行购物、订单查询、参加各项优惠活动、发表评论等。您的登陆账号和密码将作为您在“芭缇菲”的唯一识别依据，请您妥善保管。
4、为更好地提供服务，“芭缇菲”有权收集和使用您的全部信息，这些信息包括但不限于您的个人基本信息、登陆情况记录、订单信息等。“芭缇菲”可以向其关联方或合作伙伴提供这些信息，也可以通过您提供的联系方式向您发送订单信息，或者推送相关商品宣传信息、优惠促销活动信息等。
5、在您的用户信息发生变更时，请及时进行更新。如由于您未能及时更新基本信息导致无法使用本网站提供的服务或者因此遭受其它损失的，“芭缇菲”不承担任何责任。
6、在注册完成后，请妥善保存好您的账号和密码，用户通过注册的账号和密码进行登录并使用本网站提供的服务时，应对该账号下所发生的全部活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类订单、网上购买服务等）承担全部责任。用户忘记账号或密码时请及时联系我们，提请您注意，“芭缇菲”不对因账号、密码泄露给您带来的任何损失承担责任。
7、您有权要求“芭缇菲”注销您的账号，当您的账号注销后，“芭缇菲”与您基于本协议所形成的合同关系即告终止，“芭缇菲”没有义务为您保留或再向您披露用户账户中的任何信息，也没有义务向您或第三方转发任何未曾阅读或发送过的信息。
三、服务内容

1、通过“芭缇菲”提供的平台服务，用户可在“芭缇菲”搜索、查询商品信息、购买商品并进行支付、对商品进行评价。
2、您也可以通过申请成为“芭缇菲”的合作伙伴，合作伙伴可以使用的服务项目应依据《合作伙伴入驻协议》及其它“芭缇菲”随时发布的各项服务规则进行确定，除此之外，合作伙伴也应遵守本协议的约定。
3、本平台上的商品价格、数量、库存等信息将根据市场行情及销售情况随时发生变动，由于信息数据量庞大，虽然“芭缇菲”会尽最大努力保证商品信息的准确性，但由于网络延迟等客观原因，网页上所显示的信息可能会存在一定的滞后性或错误，对此情形请您知悉并理解，同时“芭缇菲”也欢迎您指证，以便于我们提供更好的服务。但对由此导致用户的任何损失，“芭缇菲”不承担责任。

四、用户使用规范

1、“用户资料”包括：您在注册、登陆或交易的过程中、在任何公开信息场合或通过任何电子形式，向“芭缇菲”或其他用户提供的信息，包括但不限于数据、文本、软件、音乐、声响、照片、图画、影像或其他载体。用户应对所提供的“用户资料”负全部责任。
2、用户保证，其在“芭缇菲”上发布的任何信息、用户资料中，均不存在以下情形：
 （1）可能侵犯任何第三方著作权、专利权、商标权、商业秘密或其他知识产权的内容；
 （2）可能侵犯任何第三方的隐私权、名誉权的内容；
 （3）可能违反法律、法规或规章（包括但不限于涉及消费者保护、不正当竞争、虚假广告等规范）的内容；
 （4）违反本协议约定或本网站其他使用规则的规定；
 （5）包含商业诽谤、非法恐吓或骚扰的内容，以及淫秽、色情、或违反社会公序良俗、公共道德的不当内容；
 （6）含有蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他可能损坏计算机信息安全的程序；
（7）含有煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动 分裂国家、破坏国家统一的的言论，煽动民族仇恨 、民族歧视、破坏民族团结的内容；
 （8）含有“芭缇菲”认为应禁止或不适合公开发布的内容。
3、若发现用户在使用本网站提供的服务过程中，存在违反中华人民共和国法律、法规，违反“芭缇菲”相芭缇菲关服务规范、规则，或者通过“芭缇菲”发布违反法律法规、社会公序良俗，或者有损“”、其他用户利益或行业声誉的不当行为，“芭缇菲”有权采取拒绝服务、暂停或关闭用户账号、清除不当内容等措施，对于由此给其他用户造成的损失，“芭缇菲”不承担任何责任。
4、用户不得使用任何装置或电脑程序干预“芭缇菲”平台的正常运作或正在进行的任何交易。
5、任何用户不得采取可能损害信息评价系统的客观性的行为，诸如：利用虚假账号或第三方为商品进行正面评价，或者对其他商品进行负面评价。
6、“芭缇菲”仅就用户之间的交易行为提供信息咨询等平台服务，不参与用户之间的具体交易行为，不会参与因交易行为所产生的纠纷，也不对此承担任何法律责任。“芭缇菲”有权依据自己的独立判断自行决定向司法机关或用户提供有关交易的证据资料。
7、用户违反交易规则造成其他用户损失的，应当就其行为承担相应的赔偿责任，并使“芭缇菲”免责。在不影响其它救济途径的前提下，“芭缇菲”有权发出警告、限制权限、暂时中止或永久终止账户等措施。
五、用户许可

您授予“芭缇菲”及其关联公司独家的、全球通用的、不可撤销的、永久的和免费的许可使用权和再许可权，“芭缇菲”及其关联公司有权使用、复制、修改、发布、翻译、分发、通过互联网传播和展示您的资料及其演绎或扩展的作品。
六、责任限制

1、“芭缇菲”无法保证网站发布信息的准确性、有效性、及时性和完整性，对于因信息传递失误、不准确或错误给用户造成的直接或间接损失，“芭缇菲”不承担责任。
2、“芭缇菲”不承担用户或任何人使用或未能使用本网站所提供的信息或链接所引致的任何直接、间接、附带、从属、特殊、惩罚性的损害赔偿（包括但不限于收益、预期利润的损失或失去的业务、未实现预期的节减）。“芭缇菲”可以在任何时间对本网站、本网站上描述的内容和产品、项目、服务或价格进行修改而无需提前通知。
3、在法律许可的最大限度内，“芭缇菲”不作出任何明示或暗示的陈述和保证，包括但不限于有关安全性、准确性、完整性、适销性、无侵权、适合任何特别目的或没有计算机病毒的保证。用户应为使用平台服务承担全部责任和风险。
4、除上述情形外，在发生以下情形时，“芭缇菲”也不对用户的任何直接或间接损失承担法律责任：
 （1）无法登录本网站，或登录本网站延迟或中断；
 （2）数据无法传送、错误传送、毁损、灭失或其他修改；
 （3）因处理本网站上对其它网站的链接或本网站上存在对其它网站的链接所遭受的任何种类的损失或损害；
 （4）就用户使用本网站（包括链接到第三方网站或自第三方网站链接）而可能产生的计算机病毒、系统失灵或功能紊乱；
 （5）非“芭缇菲”的原因所导致的用户资料泄露；
 （6）因不可抗力或本公司无法合理控制的其他原因所导致的用户损失。
七、赔偿

用户同意，如果用户违反本协议或“芭缇菲”发布的其他规则，或因用户违反法律侵害了第三方的合法权利，或因用户违反法律规定须承担行政或刑事责任，导致第三方或行政、司法机关对“芭缇菲”及的“芭缇菲”子公司、关联公司、分公司、董事、员工、代理人提出索赔或处罚要求，用户必须全额赔偿由此给“芭缇菲”及其子公司、关联公司、分公司、董事、职员、代理人带来的损失。
八、通知

1、您应当准确填写并及时更新所提供的联系电话、联系地址、邮政编码、电子邮箱等联系方式，以便“芭缇菲”与用户进行有效联系，因通过这些联系方式无法与用户取得联系，导致您在使用“芭缇菲”服务过程中产生任何损失或增加费用的，用户应独自承担。  2、“芭缇菲”可通过电子邮件方式向您发布通知，该等通知自发出之日起12个小时后视为已送达。“芭缇菲”也可通过快递或挂号邮件的方式将通知发到您所提供的联系地址，该等通知在付邮3日后视为已送达。
九、不可抗力事件

由于“芭缇菲”不能预见、不可避免、不能克服的客观原因（以下简称“不可抗力事件”），导致“芭缇菲”未能履行本协议或履行迟延的，“芭缇菲”不承担任何责任。“不可抗力事件”包括但不限于：自然灾害、罢工或骚乱、物资短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等。
十、法律适用及管辖

1、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国现行有效的法律、法规。
2、因本协议或“芭缇菲”服务所引起或与有关的任何争议均应向“芭缇菲”所在地人民法院提起诉讼方式解决。
3、用户与“芭缇菲”仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇佣与被雇佣或特性授权与被授权关系。
4、用户同意“芭缇菲”因经营业务需要有权将本协议项下的权力义务就部分或全部进行转让，而无须再通知用户并取得用户的同意。

</textarea>

		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/plugin/jquery2.1.min.js" type="text/javascript"></script>
	<script src="../../js/common/commonFn.js"></script>
	<script type="text/javascript">
		$(function() {

		})

		
	</script>

</html>