<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common/g_common.css"/>
    <link rel="stylesheet" type="text/css" href="css/resourceDetails.css"/>
</head>
<body>
    <div id="notice-detail">
    	<header class="mui-bar mui-bar-nav">
    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	    <h1 class="mui-title">{{resource.title}}</h1>
    	</header>
    	<div class="notice" v-if="resource">
    		<div class="content" v-html="resource.content"></div>
    	</div>
    </div>
    <script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/plugin/vue.min.js"></script>
    <script src="../../js/plugin/jquery2.1.min.js"></script>
    <script src="../../js/common/commonFn.js"></script>
    <script src="js/resourceDetails.js"></script>
</body>
</html>
