<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>发布动态</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/g_common.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/signIn.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/image.css" />
		<link rel="stylesheet" type="text/css" href="../../css/loading.css"/>
	</head>

	<body style="background: white;">
		<div id="signIn">
			
		<div class="goBack" onclick="goback()">
			<span class="iconfont icon-fanhui1"></span>
		</div>
			<textarea class="content" name="content" rows="6" maxlength='500' placeholder='分享健康新鲜事...'></textarea>
			<div class="imgs-area flex">
				<div class="pic-box" v-if="imgs.length>0" v-for="(pic, p) in imgs" key="p">
					<i class="iconfont icon-guanbi delete" :picIndex="p"></i>
					<img :src="fileUrl + pic" alt="" data-preview-src="" data-preview-group="1" />
				</div>
				<div class="add-btn pic-box" v-show="imgs.length<8 && vedioSrc == ''" id="add-btn">
					<img src="img/push.png" />
				</div>
			</div>
			<div class="btns">
				<button type="button" class="mui-btn fabu">发表</button> 
			</div>
			<div class="video-box" v-if="vedioSrc != ''">
				<i class="iconfont icon-guanbi" onclick="deleteVedio()"></i>
				<video :src="fileUrl + vedioSrc" controls="controls" poster="../../main/association/imgs/lookVideo.jpg"></video>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" onclick="openWindow('../../main/index/index.html')">
				<span class="mui-icon iconfont icon-huodong"></span>
				<span class="mui-tab-label">活动</span>
			</a>
			<a class="mui-tab-item agent-enter" onclick="openWindow('../../main/data/data.html')" style="display: none;">
				<span class="mui-icon iconfont icon-tuandui1"></span>
				<span class="mui-tab-label">团队</span>
			</a>
			<a class="mui-tab-item" onclick="openWindow('../../main/association/association.html')">
				<span class="mui-icon iconfont icon-tiyanfenxiang"></span>
				<span class="mui-tab-label">体验与分享</span>
			</a>
			<a class="mui-tab-item" onclick="openWindow('../../main/medicine/medicine.html')">
				<span class="mui-icon iconfont icon-kefu1"></span>
				<span class="mui-tab-label">客服</span>
			</a>
			<a class="mui-tab-item mui-active" onclick="openWindow('../../main/my/my.html')">
				<span class="mui-icon iconfont icon-wode"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/plugin/jquery2.1.min.js"></script>
		<script src="../../js/plugin/vue.min.js"></script>
		<script src="../../js/plugin/webUploader/webuploader.nolog.min.js"></script>
		<script src="../../js/common/commonFn.js"></script>
		<script src="../../js/zoom.js"></script>
		<script src="../../js/previewimage.js"></script>
		<script src="../../js/plugin/loading.js"></script>
		<script src="js/signIn.js"></script>
	</body>

</html>